.answer-field {
    background-color: #f8f8f8;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    resize: none;
}

.answer-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.buttons-container {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.date-field {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    height: 40px;
    margin-bottom: 5px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

.date-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.edited-question-field {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    resize: none;
}

.edited-question-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.hide-button {
    background-color: #E8E5E5;
    border: 2px solid white;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-right: 4px;
    padding: 10px;
    text-align: center;
}

.hide-button:hover {
    background-color: #f9a9dd;
    color: black;
}

.keywords-field {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    height: 40px;
    margin-bottom: 5px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

.keywords-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.question-field {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    width: 100%;
    height: 50px;
    padding: 12px 20px;
    resize: none;
}

.question-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.research-field {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    height: 50px;
    margin-bottom: 5px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

.research-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.submit-form {
    background-color: #E8E5E5;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 400;
    height: 580px;
    width: 400px;
    margin: 5px;
    margin-top: none;
    padding: 15px;
}

.topic-field {
    background-color: #f8f8f8;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: small;
    height: 40px;
    margin-bottom: 5px;
    padding: 12px 20px;
    resize: none;
    width: 100%;
}

.topic-field:focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}