.hide-button {
    background-color: #E8E5E5;
    border: 2px solid white;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    margin-right: 4px;
    padding: 10px;
    text-align: center;
}

.hide-button:hover {
    background-color: #f9a9dd;
    color: black;
}