.home-button {
    background-color: #E8E5E5;
    border: 2px solid white;
    border-radius: 8px;
    color: black;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 500;
    padding: 15px;
}

.home-button:hover{
    background-color: #FDE6FF;
    color: black;
}