.button-container {
  justify-content: end;
}

.contact-page-body {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.tell-us-image {
    display: block;
    height: 570px;
    width: 550px;
}