.button-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px;
}

.dashboard-header {
  align-items: center;
  background-color: #bbff99;
  background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
  border-radius: 15px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: 300;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  text-align: center;
}

.pencil-image {
  display: block;
  height: 75px;
  width: 100px;
  margin-bottom: 15px;
}

.scribble-image {
  display: block;
  height: 75px;
  width: 100px;
}
