.button-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px;
}

.dashboard-header {
  background-color: greenyellow;
  border-radius: 20px;;
  font-family: 'Poppins', sans-serif;
  font-size: x-large;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/* .nav-bar {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
} */

.pencil-image {
  display: block;
  height: 75px;
  width: 100px;
  margin-bottom: 15px;
}

.scribble-image {
  display: block;
  height: 75px;
  width: 100px;
}

.submit-form {
  font-family: 'Poppins', sans-serif;
  font-size: large;
  font-weight: medium;
}