.button-container {
  display: flex;
  flex-direction: row;
  height: 60px;
  padding: 10px;
}

.content-header {
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: 500;
  margin: 5px;
  padding: 5px;
}

.dashboard-body {
  align-items: center;
  display: flex;
  flex-direction: column;
} 

.dashboard-header {
  align-items: center;
  background-color: #bbff99;
  background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
  border-radius: 25px;
  display: flex;
  font-family: 'Poppins', sans-serif;
  font-size: xx-large;
  font-weight: 300;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1px;
  text-align: center;
}

.search-container {
  display: flex;
  flex-direction: row;
}

.search-container-header {
  background-color: #bbff99;
  background-image: linear-gradient(319deg, #bbff99 0%, #ffec99 37%, #ff9999 100%);
  border-radius: 15px;
  font-family: 'Poppins', sans-serif;
  font-size: small;
  font-weight: 400;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
  width: 250px;
}