.App {
    text-align: right;
  }
  
  .App-logo {
    height: 90vmin;
    pointer-events: none;
    margin: 10px;
    padding: 10px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 35s linear;
    }
  }
  
  
  .App-description {
    height: 90vmin;
  }
  
  .App-header {
    background-color: white;
    min-height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }