.contact-form {
    text-align: justify;
}

.contact-form-container {
    background-color: #E8E5E5;
    border-radius: 20px;
    box-shadow: 7px 10px 1px #eef387;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    font-weight: 350;
    margin-bottom: 20px;
    padding: 35px;
    height: 285px;
    width: 350px;
}

.contact-email-field {
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    width: 245px;
    margin: 10px;
    padding: 10px 15px;
}

.contact-message-field {
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    height: 90px;
    width: 240px;
    margin: 2px;
    padding: 5px;
}

.contact-name-field {
    border: 1px solid black;
    border-radius: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    width: 245px;
    margin: 5px;
    padding: 10px 15px;
}

.send-button-container {
    margin-top: 20px;
    text-align: center;
}